/* Responsavel pelos estilos globais */

html {
    height: 100px;
}


body {
    background-color: #1c0c3f; 
    font-family: sans-serif;
    color: white;
}

.frame-devstar img {
    width: 60%;
    align-items: center;
}
